*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: #192841; 
}

.title{
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  max-height: 0;
  position: absolute;
  top: 25%;
  margin-left: auto;
  margin-right: auto; 
  position: absolute;
  left: 0;
  padding: 20px ;
  right: 0;
  line-height: 1.5;

}

/* Nav */

.logo img {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  height: 8%;
}

.content{
  font-family: sans-serif;
  font-size: 16px;
  z-index: 99;
}
.navbar{
  z-index: 99;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  float: right;
  z-index: 99;
  align-items: center;
  padding: 60px 4%;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
  z-index: 99;
}
.menu-list li{
  list-style: none;
  z-index: 99;
  
}
.menu-list li a{
  color: #fff;
  font-weight: 500;
  margin-left: 60px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-btn {
  z-index: 99;

}

.menu-list li a:hover{
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.banner{
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  z-index: 99;
  right: 30px;
  top: 65px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 1000px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    z-index: 99;
    padding: 0px;
  }
  .icon.hide{
    display: none;

  }

  
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    opacity: 0.98;
    text-align: center;
    background: #192841;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    /* position: absolute; */
  }
  .navbar .menu-list li a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;  

  }
  .navbar.show .menu-list li a{
    margin-left: 0px; 

  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;

  margin-top: -60px;
  padding-left: 10px;
  font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
}

.section {
  padding: 20px 0;
  
}

.a .fa-angle-down {
  color: white;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  cursor: pointer;
  top: 58%;
  font-size: 50px;
}

.b {
  height: 100vh;
  width: 100%;
  background-color: red;
  top: 0;
  left: 0;
}

#title span {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.right {
  float: right;
  margin-right: 20px;
}

li {
  display: inline-block;
}

.right i {
  font-size: 25px;
}


/* Nav einde */


.questions-container{
  max-width: 800px;
  margin: 0 auto;
  max-width: 800px;
  margin: 0 auto;
  font-size: 22px;
  max-height: 0;
  position: absolute;
  top: 40%;
  margin-left: auto;
  margin-right: auto; 
  position: absolute;
  left: 0;
  text-align: center;
  padding: 20px ;
  right: 0;
  line-height: 1.5;
}

.question{
  border-bottom: 1px solid #fff;
}
.question button{
  width: 100%;
  background: #192841; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border:none;
  outline: none;
  font-size: 22px;
  color: #fff;

  cursor: pointer;
}
.question p{
  font-size: 22px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
}
.d-arrow{
  transition: transform 0.5s ease-in ;
  color: #fff;
}

/*add this class when click*/
.question p.show{
  max-height: 200px; 
  opacity: 1;
  padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
  transform: rotate(180deg);
}