@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  
}

body {

}


/* Nav */

.logo img {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  height: 50px;
}

.nav {
  background: transparent;
  margin-left: 200px;
  position: sticky;
  padding: 20px;
}

.nav .menu {
  list-style: none;
  text-align: right;
  padding: 0;
  z-index: 90;
  margin: 0;
  
}

.nav li {
  display: inline-block;
} 

.nav a {
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 35px;
  font-size: 15px;
  font-family: "Graphik", sans-serif;
  transition: 0.4s;
}

.nav a:hover {
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#title {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 50px;

  margin-top: -60px;
  padding-left: 10px;
  font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
}

.section {
  padding: 20px 0;
}

.a .fa-angle-down {
  color: white;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 58%;
  font-size: 50px;
}

.a {
  
}

.b {
  height: 100vh;
  width: 100%;
  background-color: red;
  top: 0;
  left: 0;
}

#title span {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.right {
  float: right;
  margin-right: 50px;
}

li {
  display: inline-block;
}

.right i {
  font-size: 25px;
}


/* Nav einde */


::-webkit-scrollbar {
  width: 0;
  height: 0;
}




















.item {
    /* background-color: #ffa700; */
    padding: 5px;
    min-height: 50px;
}

.item-bodywb{
  /* display: flex; */
  flex-direction: row;

}

h1 {
    text-align: center;
    /* padding-top: 15px; */
    font-size: 18px;
}


/* Begin fotoslider */
* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: flex;
  justify-content: center;
  align-items: center;}
img {vertical-align: middle;}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides.fade {
    padding-top: 50px;
  }

  .slideshow-container {
    /*max-width: 100px;
    
    margin: auto;
    padding-top: 12%;
    
    max-height: 100px;
    z-index: -1;*/
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  
  .mySlides.fade {
    padding-top: 155px;
    z-index: 99;
    display: none;
  }

  .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #464BDB;  
    background: -webkit-linear-gradient(to left, #3F9DE8, #4176F2);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
