*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}
body {
 
}


/* Nav */

.logo img {
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
  height: 50px;
}

.nav {
  background: transparent;
  margin-left: 200px;
}

.nav .menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
} 

.nav a {
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  padding: 30px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.4s;
  letter-spacing: 1px;
}

.nav a:hover {
  color: black;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  font-size: 35px;

  font-family: Arial, Helvetica, sans-serif;
  margin-top: -60px;
  padding-left: 10px;
  font-weight: ;
}

#title span {
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.right {
  float: right;
  margin-right: 50px;
}

li {
  display: inline-block;
}

.right i {
  font-size: 25px;
}


/* Nav einde */

























.item {
    /* background-color: #ffa700; */
    padding: 5px;
    min-height: 50px;
}

.item-bodywb{
  /* display: flex; */
  flex-direction: row;

}

h1 {
    text-align: center;
    /* padding-top: 15px; */
    font-size: 18px;
}

.logo {
   display: flex;
   padding-left: 20px;
   max-width: 200px;
   max-height: 200px;
} 

.logo > img {
  width: 100%;
  height: 100%;
}

.titeltext {
  padding-left: 20%;
  display: flex;
}

/* Begin fotoslider */
* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: flex;
  justify-content: center;
  align-items: center;}
img {vertical-align: middle;}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides.fade {
    padding-top: 50px;
  }

  .slideshow-container {
    /*max-width: 100px;
    
    margin: auto;
    padding-top: 12%;
    
    max-height: 100px;
    z-index: -1;*/
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  
  .mySlides.fade {
    padding-top: 155px;
    z-index: 99;
    display: none;
  }












  .night{
    position: absolute;/* position: relative; */
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
  }
  
  .star{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4px;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite,
               falling 3s ease-in-out infinite;
  }
  
  @keyframes tail{
    0%{
      width: 0;
    }
    30%{
      width: 100px;
    }
    100%{
      width: 0;
    }
  }
  
  @keyframes falling{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(300px);
    }
  }
  
  .star::before, .star::after{
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
  }
  
  @keyframes shining{
    0%{
      width: 0;
    }
    50%{
      width: 30px;
    }
    100%{
      width: 0;
    }
  }
  
  .star::after{
    transform: translateX(50%) rotateZ(-45deg);
  }
  
  .star:nth-child(1){
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    animation-delay: 1s;
  }
  
  .star:nth-child(1)::before, .star:nth-child(1)::after{
    animation-delay: 1s;
  }
  
  .star:nth-child(2){
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    animation-delay: 1.2s;
  }
  
  .star:nth-child(2)::before, .star:nth-child(2)::after{
    animation-delay: 1.2s;
  }
  
  .star:nth-child(3){
    top: calc(50% - 0px);
    left: calc(50% - 150px);
    animation-delay: 1.4s;
  }
  
  .star:nth-child(3)::before, .star:nth-child(3)::after{
    animation-delay: 1.4s;
  }
  
  .star:nth-child(4){
    top: calc(50% - -50px);
    left: calc(50% - 200px);
    animation-delay: 1.6s;
  }
  
  .star:nth-child(4)::before, .star:nth-child(4)::after{
    animation-delay: 1.6s;
  }
  
  .star:nth-child(5){
    top: calc(50% - -100px);
    left: calc(50% - 250px);
    animation-delay: 1.8s;
  }
  
  .star:nth-child(5)::before, .star:nth-child(5)::after{
    animation-delay: 1.8s;
  }
