@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  
}

body {
z-index: -1;
}

/* Nav */

.logo img {
  position: absolute;
  margin-top: 25px;
  margin-left: 25px;
  height: 8%;
}

.content{
  font-family: sans-serif;
  font-size: 16px;
  z-index: 99;
}
.navbar{
  z-index: 99;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  float: right;
  z-index: 99;
  align-items: center;
  padding: 60px 4%;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
  z-index: 99;
}
.menu-list li{
  list-style: none;
  z-index: 99;
  
}
.menu-list li a{
  color: #fff;
  font-weight: 500;
  margin-left: 60px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-btn {
  z-index: 99;

}

.menu-list li a:hover{
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.banner{
  background: url("banner.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 99;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  z-index: 99;
  right: 30px;
  top: 180px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 1000px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
    z-index: 99;
    padding: 0px;
  }
  .icon.hide{
    display: none;

  }

  
  .navbar .menu-list{
    position: fixed;
    height: 120vh;
    width: 100%;
    left: -100%;
    top: 0px;
    margin-top: -140px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    display: block;
    opacity: 0.98;
    padding: 320px;
    text-align: center;
    background: #192841;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    /* position: absolute; */
  }
  .navbar .menu-list li a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;  

  }
  .navbar.show .menu-list li a{
    margin-left: 0px; 

  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  z-index: -1;
  font-size: 50px;

  margin-top: -60px;
  padding-left: 10px;
  font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
}

.section {
  padding: 20px 0;
}

.a .fa-angle-down {
  color: white;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  cursor: pointer;
  top: 58%;
  font-size: 50px;
}

.b {
  height: 100vh;
  width: 100%;
  background-color: red;
  top: 0;
  left: 0;
}

#title span {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.right {
  float: right;
  margin-right: 20px;
}

li {
  display: inline-block;
}

.right i {
  font-size: 25px;
}


/* Nav einde */


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (max-width: 1080px){
  /* .nav {
    display: none;
  } */
}

@media (max-width: 550px) {

  #title {
    font-size: 40px;
  }
}

.item {
    /* background-color: #ffa700; */
    padding: 5px;
    min-height: 50px;
}

.item-bodywb{
  /* display: flex; */
  flex-direction: row;

}

h1 {
    text-align: center;
    /* padding-top: 15px; */
    font-size: 18px;
}


/* Begin fotoslider */
* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: flex;
  justify-content: center;
  align-items: center;}
img {vertical-align: middle;}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides.fade {
    padding-top: 50px;
  }

  .slideshow-container {
    /*max-width: 100px;
    
    margin: auto;
    padding-top: 12%;
    
    max-height: 100px;
    z-index: -1;*/
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  
  .mySlides.fade {
    padding-top: 155px;
    z-index: 99;
    display: none;
  }

  .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #192841;  
    background: -webkit-linear-gradient(to left, #3F9DE8, #4176F2);  
    width: 100%;
    height:100vh;
    z-index: -99;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #203354; 
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}